*{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(212, 231, 34);
}
.patinho{
    width: 100px;
    height: 70px;
}
.patinho1{
    margin-top: 20px;
    padding-left: 580px;
}
.patinho2{
    margin: 10px 0px;
    transform: translate(800px, -110px);
}
.flex-container{
    display: flex;
}
.centralizar{
    text-align: center;
    justify-content: center;
}
/* Cabeçalho */
h1{
    color: #65CD04;
    line-height: 2em;
    font-size: 3em;
}
h2{
    color:#FFA900;
}
header{
    background-image: url(../Img/Fundo.png);
    background-repeat: repeat-x;
    background-attachment:scroll;
    background-size: contain;
}
#logo{
    width: 110px;
    height: 100px;
    padding: 3px 0px;
    height: auto;
}
/* Menu */
#menu{
    background-color: #13CE66;
    height: 6vh;
}
.opc{
    background-color: #49B420;
    border-radius: 50px;
    padding: 5px 15px;
    height: 29px;
    margin: 0px 15px;;
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: #FFA900;
}
a:hover{
    font-weight: bolder;
    color: yellow;
}
/* Sobre Nós */
.conteiner{
    display: flex;
    margin: 25px 0px;
    margin-left: 50px;
}
#img1{
    width: 260px;
    height: 263px;
    margin: 0em 1em;
}
.fundo-verde{
    margin-left: 100px; 
    padding: 1em;
    width: 50vw;
    height: 35vh;
    background-color:#55d18d;
}
/* Produtos */
#Produtos div{
    margin-left: 40px;
}
.prod{
    display: flex;
    flex-direction: column;
    background-color: #55d18d;
    width: 130px;
    height: 200px;
    margin: 1em 1em;
    padding:1em;
    border-radius: 1em;
    box-shadow: 0.11em 0.11em gray;
    cursor: pointer;
}
.prod:hover{
    transform:scale(1.1)
}
.imgP{
    background-color: white;
    height: 140px;
    margin-bottom: 5px;
}
.prod:hover{
    box-shadow: 0.1em 0.2em 0.2em 0.4em gray;
}
button{
    background-color: #FFA900;
    border-radius: 1em;
    border: none;
    padding: 0.5em;
}
/* Serviços */
.serviços{
    display: flex;
    flex-direction: column;
    width: 65vw;
    margin-left: 150px;
    padding: 15px 60px;
}
.serviços ul{
    margin: 1px 10px;
    list-style: url();
}
.ossinho li{
    list-style:url(../Img/Osso.png);
    line-height: 10px;
    margin-top: -2px;
    padding-bottom: 1px;
}
/* Contatos */
#Contato div{
    position: relative;
}
#Contato p{
    margin-left: 100px;
}
.cont{
    width: 7vw;
    height: 15vh;
    margin-left: 500px;
    position: absolute;
    transform: translate(60px, -80px);
    cursor: pointer;
}
.cont:hover{
    filter: invert(1);
}
.cont2{
    width: 9vw;
    height: 20vh;
    margin-left: 500px;
    transform: translate(50px, 10px);
    cursor: pointer;
}
.cont2:hover{
    filter:hue-rotate(979deg);
}
.rodape{
    padding: 2%;
    background-color: #13CE66;
}
.seta{
    width: 150px;
    height: 300px;
}
.seta1{
    transform: rotatez(900deg)
    translateY(30px);
}
.patinha6{
    position: absolute;
    transform: translate(0px,90px)
    rotate(40deg);
}
.patinha7{
    position: absolute;
    transform: translate(750px,0px)
    rotate(40deg);
}
